.container {
    position: relative;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.left {
    position: fixed;
    left: 16px;
    bottom: 16px;
}

.right {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .left {
        position: static;
        bottom: auto;
        left: auto;
    }
    .right {
        position: static;
        bottom: auto;
        right: auto;
    }
}
